:root {
  --blue: #007bff;
  --red: #F04124;
  --green: #43AC6A;
  --teal: #00b09b;
  --lgreen: #96c93d;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--blue);
}

h1,
h2 {
  font-family: 'Luckiest Guy', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  padding: 0 1em;
}
.display-font {
  font-family: 'Luckiest Guy', sans-serif;
  padding-top: 0.5em;
}

/* navbar transitions */
.expand-enter-active, .expand-leave-active {
  transition: height .5s;
  overflow-y: hidden;
}
.expand-enter-active, .expand-leave-active {
  height: 160px;
}
.expand-enter, .expand-leave-to {
  height: 0;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.85rem 1rem;
  background-color: rgba(255, 255, 255, .95);
}
.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: black;
  text-decoration: none;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.nav li {
  padding: .5em;
}
.nav a {
  color: rgba(0,0,0,.5);
  text-decoration: none;
}
.nav .active {
  color: var(--blue);
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-container {
  display: flex;
  flex-direction: row;
}

.jumbotron {
  background: linear-gradient(to right, #00b09b, #96c93d);
  /* background: linear-gradient(to right, var(--green), var(--lgreen)); */
  color: white;
  height: 40vh;
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.jumbotron h1 {
  font-size: 3rem;
}

.btn {
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: var(--blue);
  color: white;
}

.row {
  display: flex;
  flex-direction: column;
}

@media(min-width: 576px) {
  .row {
    flex-direction: row;
  }
}
.col-even {
  flex-basis: 0;
  flex-grow: 1;
}

.jumbotron p {
  font-size: 1.2rem;
  font-weight: 300;
}