h1,
h2 {
  font-family: 'Luckiest Guy', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

.display-font {
  font-family: 'Luckiest Guy', sans-serif;
  padding-top: 0.5em;
}

/* navbar transitions */
.expand-enter-active, .expand-leave-active {
  transition: height .5s;
  overflow-y: hidden;
}
.expand-enter-active, .expand-leave-active {
  height: 160px;
}
.expand-enter, .expand-leave-to {
  height: 0;
}
