body {
  padding-top: 3.8rem;
}

section {
  height: calc(90vh - 3.8rem);
  padding: 1rem;
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  box-sizing: border-box;
  color: black;
}
section h1 {
  font-size: 2.5rem;
  color: var(--blue);
  text-shadow: 2px 2px black;
}

section:nth-child(odd) {
  justify-content: flex-start;
  text-align: left;
}

#bath {
  background-image: url('/img/grooming/bath.jpg');
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}