body {
  padding-top: 3.8rem;
}
section {
  height: calc(90vh - 3.8rem);
  padding: 1rem;
  background-image: url('/img/doglake.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  color: white;
  text-shadow: 2px 2px black;
}

#two,
#four {
  background-image: url('/img/food.jpg');
  justify-content: flex-start;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}