---
---
.banner-image {
  height: 70vh;
  background-image: url('{{ site.url }}/img/doglake.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 65%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.banner-image h1 {
  text-shadow: 3px 3px #333333;
}
.banner-image .lead {
  text-shadow: 1px 1px #333333;
}
.display-4 {
  font-size: 3.5em;
  color: var(--blue);
}
.lead {
  font-size: 1.5rem;
}

.box {
  padding-top: 2em;
  padding-bottom: 1em;
}
.displayText {
  font-size: 1.5em;
}
.display-icon {
  height: 10em;
  margin-bottom: 1em;
}
.vertically-center {
  display: flex;
  align-items: center;
}

.col-sm-10 {
  min-height: 10em;
  flex-basis: 0;
  flex-grow: 10;
}
.col-sm-2 {
  min-height: 10em;
  flex-basis: 0;
  flex-grow: 2;
}
.order-sm-1 {
  order: 1;
}
.order-sm-2 {
  order: 2;
}

@media (max-width: 576px) {
  .display-icon {
    height: 8em;
  }
  .row {
    flex-direction: column;
  }
  .col-sm-2 {
    order: 1;
  }
}