---
---
.full-screen {
  height: calc(100vh - 3.8rem);
  margin: 0;
  padding: 0;
  display: flex;
}
.col-4 {
  color: white;
  text-shadow: 2px 2px var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  flex-basis: 0;
  flex-grow: 1;
}
.col-4:hover {
  color: var(--blue);
}

@media(max-width: 576px) {
  .full-screen {
    flex-direction: column;
  }
}

#food {
  background-image: url('{{ site.url }}/img/food.jpg');
}
#clothing {
  background-image: url('{{ site.url }}/img/clothing.jpg');
}
#toys {
  background-image: url('{{ site.url }}/img/toys.jpg');
}