---
title: Boarding
permalink: /boarding/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.url }}/css/boarding.css">
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div>
        <h1>Boarding</h1>
        <p>Going on vacation? Board you pet with us and they can have a vacation too! Choose one our packages to decide how pampered you want you pet to be.</p>
      </div>
    </div>
    <div class="container row">
      <div class="col-even">
        <h2>3 Stars</h2>
        <h3><span class="fas fa-star"></span><span class="fas fa-star"></span><span class="fas fa-star"></span></h3>
        <ul>
          <li>Cozy dog bed</li>
          <li>TLC reality shows</li>
          <li>Porthole</li>
          <li>Daily petting by our caregivers</li>
          <li>Kindle tablet</li>
          <li>Daily photos of your dog's activities</li>
          <li>Pretzels</li>
        </ul>
        <div class="price-box">
          <p><strong>$25/night</strong></p>
        </div>
      </div>
      <div class="col-even">
        <h2>4 Stars</h2>
        <h3><span class="fas fa-star"></span><span class="fas fa-star"></span><span class="fas fa-star"></span><span class="fas fa-star"></span></h3>
        <ul>
          <li>Oversized bed with extra pillows</li>
          <li>Science Channel</li>
          <li>Large window</li>
          <li>One spa treatment during their stay</li>
          <li>Android tablet</li>
          <li>Daily video of your dog's activities</li>
          <li>Milkbones</li>
        </ul>
        <div class="price-box">
          <p><strong>$50/night</strong></p>
        </div>
      </div>
      <div class="col-even">
        <h2>5 Stars</h2>
        <h3><span class="fas fa-star"></span><span class="fas fa-star"></span><span class="fas fa-star"></span><span class="fas fa-star"></span><span class="fas fa-star"></span></h3>
        <ul>
          <li>Deluxe temperature controlled bed</li>
          <li>Pet-focused TV channels</li>
          <li>24/7 access to a private outdoor space</li>
          <li>Daily spa treatments</li>
          <li>iPad tablet</li>
          <li>Check on your dog via livestream</li>
          <li>Caviar</li>
        </ul>
        <div class="price-box">
          <p><strong>$75/night</strong></p>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>