---
title: Grooming
permalink: /grooming/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/grooming.css">
  </head>
  <body>
    {% include navbar.html %}
    <section id="one">
      <h1>Grooming Services</h1>
    </section>
    <section id="two">
      <h1>Grooming Services</h1>
    </section>
    <section id="three">
      <h1>Grooming Services</h1>
    </section>
    <section id="four">
      <h1>Grooming Services</h1>
    </section>
    <section id="five">
      <h1>Grooming Services</h1>
    </section>
    {% include scripts.html %}
  </body>
</html>