---
title: Grooming
permalink: /grooming/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/css/grooming.css">
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div>
        <h1>Grooming Services</h1>
        <p>Did you pet get themselves into something messy? Are they looking a little shaggy? Bring them to us and and they will leave looking their best.</p>
      </div>
    </div>
    <section id="bath">
      <div>
        <h2>Baths</h2>
        <p>What if I add some p text in here and see what happens with the layout</p>
      </div>
    </section>
    <section id="haircut">
      <div>
        <h2>Haircuts</h2>
        <p>Is your dog looking a little shaggy? Bring them in for a haircut </p>
      </div>
    </section>
    <section id="toenails">
      <div>
        <h2>Toenail Trims</h2>
        <p>This is some placeholder text to see the layout of the stuff and whatever</p>
      </div>
    </section>
    <section id="four">
      <div>
        <h2>Grooming Services</h2>
        <p>This is some placeholder text to see the layout of the stuff and whatever</p>
      </div>
    </section>
    <section id="five">
      <div>
        <h2>Grooming Services</h2>
        <p>This is some placeholder text to see the layout of the stuff and whatever</p>
      </div>
    </section>
  </body>
</html>