---
title: Grooming
permalink: /grooming/
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.url }}/css/grooming.css">
    <style>
      section {
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    {% include navbar.html %}
    <div class="jumbotron">
      <div>
        <h1>Grooming Services</h1>
        <p>Did you pet get themselves into something messy? Are they looking a little shaggy? Bring them to us and and they will leave looking their best.</p>
      </div>
    </div>
    <section id="bath">
      <div>
        <h2>Baths</h2>
        <p>Did you pet get into something, or isn't smelling so great? We will wash, dry, and brush them so they look and smell fresh!</p>
        <p><span class="price">starting at $25</span></p>
      </div>
    </section>
    <section id="haircut">
      <div>
        <h2>Haircuts</h2>
        <p>Is your dog looking a little shaggy? Bring them in for a haircut!</p>
        <p class="price">starting at $25</p>
      </div>
    </section>
    <section id="toenails">
      <div>
        <h2>Toenail Trims</h2>
        <p>Is your pet chewing at their nails or starting to claw up the furniture (or you)? We'll take care of their nails for you!</p>
        <p class="price">only $15</p>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>