---
title: 'Home'
permalink: '/'
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="css/home.css" rel="stylesheet">
  </head>
  <body>
    {% include navbar.html %}
    <div class="banner-image">
      <div class="container">
        <h1 class="display-4 text-primary">Waggin' Wagon Pet Boarding</h1>
        <p class="lead">Professional pet boarding, handmade pet clothing, and high quality pet food</p>
      </div>
      <a href="https://unsplash.com/photos/915UJQaxtrk" target="_blank" rel="noreferrer nofollow" id="credit">Photo Credit</a>
    </div>
    <div class="container">
      <section class="box">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 order-sm-2">
              <img class="display-icon" src="/img/icons/doghouse.svg" alt="Icon of red doghouse">
            </div>
            <div class="col-sm-10 order-sm-1 vertically-center">
              <p class="displayText">Board your pet with us and they can have a vacation too! Choose how pampered you want you pet to be and drop them off for a great experience. <a href="/boarding">Learn more</a> about our boarding options.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="box">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 order-sm-1">
              <img class="display-icon" src="/img/icons/clothes.svg" alt="Icon of clothing">
            </div>
            <div class="col-sm-10 order-sm-2 vertically-center">
              <p class="displayText">We make handmade clothes just for your pet so they can be as stylish as you are. We have something for every type and size of pet. <a href="/products">Take at look!</a></p>
            </div>
          </div>
        </div>
      </section>
      <section class="box">
        <div class="container">
          <div class="row">
            <div class="col-sm-2 order-sm-2">
              <img class="display-icon" src="/img/icons/grooming.svg" alt="Icon of dog shampoo bottles">
            </div>
            <div class="col-sm-10 order-sm-1 vertically-center">
              <p class="displayText">Bring you dog for a spa day of grooming, nail trimming, deshedding and more. Check out all the <a href="/grooming">grooming services</a> we offer!</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <p>Icon Credit:</p>
        <ul>
          <li>"<a href="https://thenounproject.com/search/?q=dog%20house&i=1096948" target="_blank" rel="noreferrer noopener">Dog House</a>" icon by b farias from <a href="https://thenounproject.com" target="_blank" rel="noreferrer noopener">the Noun Project</a></li>
          <li>"<a href="https://thenounproject.com/search/?q=clothes&i=36271" target="_blank" rel="noreferrer noopener">Clothes</a>" icon by Veronika Karenina from <a href="https://thenounproject.com" target="_blank" rel="noreferrer noopener">the Noun Project</a></li>
          <li>"<a href="https://thenounproject.com/search/?q=grooming&i=1234134" target="_blank" rel="noreferrer noopener">Pet Groomer</a>" icon by Made from <a href="https://thenounproject.com" target="_blank" rel="noreferrer noopener">the Noun Project</a></li>
        </ul>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>
