<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if {{page.title}} == 'Home' %}
<title>Waggin' Wagon Pet Boarding</title>
{% else %}
<title>{{ page.title }} | Waggin' Wagon Pet Boarding</title>
{% endif %}
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link href="/css/app.css" rel="stylesheet">