<nav class="navbar" id="navbar">
  <a class="navbar-brand display-font" href="/">Waggin' Wagon</a>
  <!-- <button class="navbar-toggler" type="button" :aria-expanded="!collapsed" aria-controls="navbar" @click="toggleCollapsed()" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <transition name="expand">
    <div v-show="collapsed">
      <ul class="nav">
        <li><a :class="{'active': isCurrentPage('boarding')}" href="/boarding">Boarding</a></li>
        <li><a :class="{'active': isCurrentPage('products')}" href="/products">Products</a></li>
        <li><a :class="{'active': isCurrentPage('grooming')}" href="/grooming">Grooming</a></li>
        <li><a :class="{'active': isCurrentPage('contact')}" href="/contact">Contact</a></li>
      </ul>
    </div>
  </transition>
</nav>