<nav class="navbar" id="navbar">
  <a class="navbar-brand display-font" href="/">Waggin' Wagon</a>
  <div class="nav-container">
    <ul class="nav navbar-nav">
      <li><a class="{% if page.title == 'Boarding' %}active{% endif %}" href="/boarding/">Boarding</a></li>
      <li><a class="{% if page.title == 'Products' %}active{% endif %}" href="/products/">Products</a></li>
      <li><a class="{% if page.title == 'Grooming' %}active{% endif %}" href="/grooming/">Grooming</a></li>
      <li><a class="{% if page.title == 'Contact Us' %}active{% endif %}" href="/contact/">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
      <li><a href="#"><span class="fab fa-twitter"></span></a></li>
      <li><a href="#"><span class="fab fa-instagram"></span></a></li>
    </ul>
  </div>
</nav>